#hello {
    height:200px;
    width:200px;
    text-align:center;
    border-radius: 300px;
    border:10px solid orange;
}
body {
    background-color:salmon;

}


h3{
    border: 5px solid black ;
    
}
/* Nav Bar CSS */


/* Header CSS */



/* Section CSS */



/* About Section CSS */



/* Portfolio Item CSS */



/* Footer CSS */



/* Button CSS */


