.hello {
    height:100px;
    text-align:center;
    border-radius: 300px;
    border:10px solid orange;

}

/* Nav Bar CSS */


/* Header CSS */



/* Section CSS */



/* About Section CSS */



/* Portfolio Item CSS */



/* Footer CSS */



/* Button CSS */


