#hello {
    height:400px;
    width:400px;
     margin:default;
    border-radius: 300px;
    border:10px solid orange;
}
body {
    background-color:salmon;

}

h1,p{
    text-align: center;
}

h3{
    border: 5px solid black ;
    
}

.col-sm-4{
    background-color:aquamarine;
    border:solid black 8px;
    border-radius:30px;
}

.col-sm-6{
    border:dashed azure 5px;
}

img{
    height:400px;
    width:500px;
}
/* Nav Bar CSS */


/* Header CSS */



/* Section CSS */



/* About Section CSS */



/* Portfolio Item CSS */



/* Footer CSS */



/* Button CSS */


